/* Copyright Robert L. Read, 2017

     This file is part of color-block-font.

     Foobar is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     Foobar is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with color-block-font.  If not, see <http://www.gnu.org/licenses/>.
 
*/

.ax {
	position: relative;
    }
span.ax::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.ax::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
    .bx {
	position: relative;
    }
span.bx::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.bx::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}


    .cx {
	position: relative;
    }
span.cx::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.cx::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .dx {
	position: relative;
    }
span.dx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.dx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .ex {
	position: relative;
    }
span.ex::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.ex::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .fx {
	position: relative;
    }
span.fx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.fx::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}


    .gx {
	position: relative;
    }
span.gx::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.gx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
    .hx {
	position: relative;
    }
span.hx::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.hx::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}


    .ix {
	position: relative;
    }
span.ix::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.ix::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .jx {
	position: relative;
    }
span.jx::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.jx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .kx {
	position: relative;
    }
span.kx::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.kx::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .lx {
	position: relative;
    }
span.lx::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.lx::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .mx {
	position: relative;
    }

span.mx::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.mx::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
    .nx {
	position: relative;
    }
span.nx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.nx::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}


    .ox {
	position: relative;
    }
span.ox::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.ox::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .px {
	position: relative;
    }
span.px::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.px::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .qx {
	position: relative;
    }
span.qx::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.qx::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .rx {
	position: relative;
    }
span.rx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.rx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}


    .sx {
	position: relative;
    }
span.sx::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.sx::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
    .tx {
	position: relative;
    }
span.tx::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.tx::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}


    .ux {
	position: relative;
    }
span.ux::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.ux::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .vx {
	position: relative;
    }
span.vx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.vx::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .wx {
	position: relative;
    }
span.wx::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.wx::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .xx {
	position: relative;
    }
span.xx::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.xx::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .yx {
	position: relative;
    }
span.yx::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.yx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}

    .zx {
	position: relative;
    }
span.zx::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -19px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}
span.zx::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 10px; 
    border: 1px solid #000000
}



    .Ax {
	position: relative;
    }
span.Ax::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Ax::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
    .Bx {
	position: relative;
    }
span.Bx::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Bx::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}


    .Cx {
	position: relative;
    }
span.Cx::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Cx::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Dx {
	position: relative;
    }
span.Dx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Dx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Ex {
	position: relative;
    }
span.Ex::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Ex::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Fx {
	position: relative;
    }
span.Fx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Fx::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}


    .Gx {
	position: relative;
    }
span.Gx::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Gx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
    .Hx {
	position: relative;
    }
span.Hx::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Hx::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}


    .Ix {
	position: relative;
    }
span.Ix::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Ix::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Jx {
	position: relative;
    }
span.Jx::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Jx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Kx {
	position: relative;
    }
span.Kx::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Kx::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Lx {
	position: relative;
    }
span.Lx::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Lx::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Mx {
	position: relative;
    }

span.Mx::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Mx::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
    .Nx {
	position: relative;
    }
span.Nx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Nx::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}


    .Ox {
	position: relative;
    }
span.Ox::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Ox::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Px {
	position: relative;
    }
span.Px::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Px::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Qx {
	position: relative;
    }
span.Qx::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Qx::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Rx {
	position: relative;
    }
span.Rx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Rx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}


    .Sx {
	position: relative;
    }
span.Sx::before {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Sx::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
    .Tx {
	position: relative;
    }
span.Tx::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Tx::after {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}


    .Ux {
	position: relative;
    }
span.Ux::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Ux::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Vx {
	position: relative;
    }
span.Vx::before {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Vx::after {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Wx {
	position: relative;
    }
span.Wx::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Wx::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Xx {
	position: relative;
    }
span.Xx::before {
    content: " ";
    background-color: yellow;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Xx::after {
    content: " ";
    background-color: green;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Yx {
	position: relative;
    }
span.Yx::before {
    content: " ";
    background-color: cyan;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Yx::after {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}

    .Zx {
	position: relative;
    }
span.Zx::before {
    content: " ";
    background-color: black;
    position:absolute; 
    top: -21px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
span.Zx::after {
    content: " ";
    background-color: red;
    position:absolute; 
    top: -10px; 
    left: 0;  
    width: 10px; 
    height: 12px; 
    border: 1px solid #000000
}
.color-block {
    line-height: 26px;
    font-family: "Courier";
    font-size: 16px;
    text-align: left;
}
/* My color palette will be : Red Green Yellow Cyan Black
a: r r
b: g y
c: m g
d: r m
e: g g
f: r g
g: g m
h: c y
i: y y
j: y m
k: y c
l: c r
m: g r
n: r y
o: c c
p: c g
q: m c
r: r m
s: g c
t: m y
u: m m
v: r c
w: y r
x: y g
y: c m
z: m r
*/
